body {
    padding: 0px;
    margin: 0px;
    
}

p, h1, h2, h3, input, a, button, li {
    font-family: 'Open Sans', sans-serif;
}

h1, h3 {
    color: #4574b6;
    
}

h3 {
    vertical-align: middle;
}

h1 {
    font-size: 2.2em;
}
.header {
    height: 120%;
    padding: 30px 30px 10px 30px;
    width: 30%;
    box-sizing: border-box;
    float: left;
    background: #ebebeb;
    border-right:1px solid #4574b6;
}

.searchbox {
    
    margin-left: auto;
    margin-right: auto;
}

.search {
   border: none;
   font-size: 1.6em;
   width: 70%;
   padding: 1px 7px 1px 7px;
   color: #333;
}

.search-button {
    font-size: 1.6em;
    padding: 1px 7px 1px 7px;
    border: none;
    color: #fff;
     background:  #4574b6;
}

.fast-results {
    height: 500px;
    width: 100%;

}

.fast-chunk h3 {
    border-bottom: 1px solid #fff;
    width: 70%;
    text-align: center;
    cursor: pointer;
}

.fast-chunck h3:hover {
    background: #fff;
}

.main-menu {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.main-menu ul {
    list-style: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    
}

.main-menu ul li {
    float: left;
    width: 20%;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: #333;
}

.main-menu ul .active {
    background:  #e1e8ed;
    color: #4574b6;
}

.content {
    float: left;
    
    width:  60%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.users-results {
    box-sizing: border-box;
    float: left;
    width: 40%;
    padding: 0px 0px 0px 30px;
}

.posts-results {
    box-sizing: border-box;
    float: left;
    width: 60%;
    padding: 0px 0px 0px 30px;
}

.user-chunk, .post-chunk {
    padding: 15px 0px 10px 0px;
    border-bottom: 1px solid #ebebeb;
}

.chunk-head img{
    float: left;
    border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.chunk-head {
    overflow: auto;
}

.chunk-head h3 {
    margin: 12px 0px 0px 60px;
}

.user-pagination, .post-pagination {
    overflow: auto;
}

.pagination-ele {
    text-align: center;
    float: left;
    padding: 10px 10px 10px 10px;
    width: 20px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    background: #ebebeb;
    margin-right: 10px;
    border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
    cursor: pointer;
}

.pagination-ele.active {
    background: #4574b6;
    color: #fff;
}

.meta {
    width: 100%;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    color: #4574b6;
}

.meta i {
    margin-left: 10px;
    
}