<html>
    <head>
        <title>Degordian zadatak</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body ng-app="searchApp" ng-controller="ctrlTop">
        <div class="header">
            <h1>{{searchterm}}</h1>
            <div class="searchbox">
                <input class="search" ng-model="searchterm" ng-keyup="autocomplete()">
                <button class="search-button" ng-click="search()">Search</button>
            </div>
            <div class="fast-results">
                <div class="fast-chunk" ng-repeat="elem in auto | limitTo:15">
                    <h3 ng-click="setSearchTerm(elem.searchText)">{{elem.searchText}}</h3>
                    
                </div>
            </div>
        </div>
        
        
        <div class="content" >
            <div class="users-results" >
                <h1>@users</h1>
                <div class="user-pagination">
                    <div class="pagination-ele {{elem.active}}" ng-click="setUsersSelected(elem.start)" ng-repeat="elem in pagesUsers">{{elem.text}}</div>
                </div>
                <div class="user-chunk" ng-repeat="elem in resultsUsers | limitTo:5:pageUsersSelected">
                    <div class="chunk-head">
                    <img src="{{elem.profile_image_url}}">
                     <h3>{{elem.name}}</h3>
                    </div>
                    <p ng-bind-html="boldenTerm(elem.description)"></p>
                </div>
            </div>
            <div class="posts-results">
                <h1>posts</h1>
                <div class="post-pagination">
                    <div class="pagination-ele {{elem.active}}" ng-click="setPostsSelected(elem.start)" ng-repeat="elem in pagesPosts">{{elem.text}}</div>
                </div>
                <div class="post-pagination"></div>
                <div class="post-chunk" ng-repeat="elem in resultsPosts | limitTo:5:pagePostsSelected">
                    <div class="chunk-head">
                        <img src="{{elem.user.profile_image_url}}">
                    <h3>{{elem.user.name}}</h3>
                    </div>
                    <p ng-bind-html="boldenTerm(elem.text)"></p>
                    <div class="meta"><i class="fa fa-retweet"></i> {{elem.retweet_count}}<i class="fa fa-star"></i> {{elem.favorite_count}}</div>
                </div>
            </div>
        </div>
        <script src="js/vendors/angular.min.js" type="text/javascript"></script>
         <script src="js/vendors/ng-twitter-api.min.js"></script>
        <script src="js/vendors/angular-route.js"></script>
        <script src="js/module/module.js" type="text/javascript"></script>
         <script src="js/svc/svcSearch.js" type="text/javascript"></script>
         <script src="js/ctrl/ctrlTop.js" type="text/javascript"></script>
         
    </body>
</html>